.footer {
    margin: 50px 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}
.footer-top-left .footer-logo{
    width: 100px;
    margin-bottom: 30px;
    align-items: center;
    gap: 20px;
    
}

.footer-top-left p {
    font-size: 20px;
    max-width: 400px;
}

.footer-top-right {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer-email-input {
    display: flex;
    gap: 30px;
    padding: 20px 30px;
    border-radius: 50px;
    background: #32323b;
    padding-right: 80px;
}

.footer-email-input input {
    outline: none;
    border: none;
    background: transparent;
    color: #a0a0a0;
    font-family: outfit;
    font-size: 18px;
}

.footer-subscribe {
    font-size: 20px;
    padding: 22px 50px;
    border-radius: 50px;
    background: linear-gradient(264deg, #df8908 -5.09%, #b415ff 106%);
    cursor: pointer;
    transition: 0.5s;
}

.footer-bottom-right .social-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 15px #00000027;
    padding: 15px 10px;
    border-radius: 5em;
  }
  
  .social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    box-shadow: 0px 0px 4px #00000027;
    transition: 0.3s;
  }
  
  .social-button:hover {
    background-color: #f2f2f2;
    box-shadow: 0px 0px 6px 3px #00000027;
  }
  
  .social-buttons svg {
    transition: 0.3s;
    height: 20px;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .facebook svg {
    fill: #f2f2f2;
  }
  
  .facebook:hover svg {
    fill: #3b5998;
  }
  
  .github {
    background-color: #333;
  }
  
  .github svg {
    width: 25px;
    height: 25px;
    fill: #f2f2f2;
  }
  
  .github:hover svg {
    fill: #333;
  }
  
  .linkedin {
    background-color: #0077b5;
  }
  
  .linkedin svg {
    fill: #f2f2f2;
  }
  
  .linkedin:hover svg {
    fill: #0077b5;
  }
  
  .instagram {
    background-color: #c13584;
  }
  
  .instagram svg {
    fill: #f2f2f2;
  }
  
  .instagram:hover svg {
    fill: #c13584;
  }
  
.footer-bottom p{
    font-size: 20px;
    font-style: italic;
    max-width: 400px;

}

.footer-bottom-right {
    display: flex;
    gap: 50px;
    margin-bottom: 50px;
}

.footer-email-input:hover {
    border: 2px solid white;
}

.footer-subscribe:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

@media (max-width: 178px) {
    .footer {
        margin: 50px 70px;
    }
    .footer-top {
        flex-direction: column;
        gap: 50px;
    }
    .footer-bottom {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 50px;
    }
}